@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <h2>Centro Escolar Canton El Capulin </h2>
    <p>11038</p>
    <div class="figure-img"><br /><br /><img src="~/Source/assets/Ministerio-Educacion-comunicado.png" alt="Logo" width="1000" height="400" /> </div>
</div>
